/* CSS declarations go here */
body {
    font-size: 140%;
}

#background {
    background-image: url("simpsons.jpg");
    width: 100%;
    height: 400px;
    background-position: center 0px;
    bottom: 0px;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#table {
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
